body{
	background-color: #fff4f4;
	font-family: helvetica;
	padding: 0 5%;
}
h1{
	text-align: center;
}

#front-image{
	animation-duration: 3s;
  	animation-name: slidein;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes slidein {
	from {
    		margin-left: 100%;
    		width: 100%; 
  	}

  	to {
    		margin-left: 0%;
    		width: 50%;
  	}
}
