body{
	background-color: #fff4f4;
	font-family: helvetica;
	padding: 0 5%;
}
h1{
	text-align: center;
}

#front-image{
	animation-duration: 3s;
  	animation-name: slidein;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes slidein {
	from {
    		margin-left: 100%;
    		width: 100%;
		-ms-transform: rotate(360deg); 
   		-webkit-transform: rotate(360deg);
    		transform: rotate(360deg); 
  	}

  	to {
    		margin-left: 0%;
    		width: 50%;
		-ms-transform: rotate(0deg); 
    		-webkit-transform: rotate(0deg);
    		transform: rotate(0deg);
  	}
}
